/* COLORS

rgba(19, 128, 36, 0.9);

*/

.container {
    max-width: 1100px;
}

html, 
body {
    height: 100%;
    font-size: 16px;
    background: url("../img/pattern.jpg") center center;
    font-family: "Cubano-Regular";
}

.col-sm-9 {
    
}

/* SECTION COVER */

#cover {
    height: 100%;
    background: url(../img/trees.jpg) center;
    background-size: cover;
    color: white;
}

.wall-sticker {
    background: rgba(0, 0, 0, 0.4);
    padding: 10rem 20rem 7rem 3rem;
    font-family: "Cubano-Regular";
    font-size: 3rem;
    color: white;
}

.moto {
    font-size: 3rem;
    margin-top: 7rem;
    margin-left: 20rem;
    text-align: center;
}

.arrow {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 20rem;
    text-align: center;
}

/* NAVBAR */

.navbar-brand {
    font-family: "Cubano-Regular";
    padding-right: 15px;
}

#exCollapsingNavbar2 {
    font-family: "Lato";
}

.nav-item a {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.nav-item a:hover {
    border-bottom: 1px solid rgba(19, 128, 36, 0.9);
    transition: 0.5s;
}

/* SECTION FEATURES */

.square {
    text-align: center;
}

.square i {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.square i:hover {
    color: rgba(19, 128, 36, 0.9);
    transition: 0.3s;
}

.square p {
    font-family: "Lato";
    font-size: 1.2rem;
}

.green-hr {
    border-top: 1px solid rgba(19, 128, 36, 0.9);
    width: 120px;
    background-color: rgba(19, 128, 36, 0.9);


}

.section-features {
    padding: 5rem 0;
    background: url("../img/pattern.jpg") center center;
}

.under-heading, 
.heading {
    text-align: center;    
}

/* SECTION TIMELINE */

.section-timeline {
    background-color: white;
    padding-top: 5rem;
}

.timeline {
    list-style: none;
    padding: 20px 0 80px;
    padding-top: 50px;
    position: relative;
}

.timeline:before { /* GREY LINE */
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline p {
    font-family: "Lato";
    font-weight: 700;
}

.timeline > li:not(.timeline-inverted) {
    padding-right: 90px;
}

.timeline > li.timeline-inverted {
    padding-left: 90px;
}

.timeline > li > .timeline-badge {
    font-size: 1rem; !important
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #3E974C;
    border-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.fa.fa-clock-o {
    padding-right: 3px;
}

/* SECTION PARALLAX */

#section-parallax {
    text-align: center;
    background: url(../img/trees.jpg) center repeat fixed;
    padding: 140px 0;
    background-size: cover;
    color: white;
}

/* SECTION CARDS */

#section-cards {
    padding: 5rem 0;
}

#section-cards h2 {
    text-align: center;
}

#section-cards img {
    width: 100%;
    transition: .5s;
}

#section-cards img:hover {
    transform: scale(1.05);
}

.card {
    margin-top: 3rem;
    overflow: hidden;
}

.card a {
    color: rgba(19, 128, 36, 0.9);
    transition: 0.5s;
}

.card a:hover {
    color: rgb(19, 128, 36);
    transition: 0.5s;
}


/* SECTION NUMBERS */

#section-numbers {
    background-color: white;
    padding-top: 5rem;
}

#section-numbers h2 {
    text-align: center;
}

.num-content {
    display: table;
    font-size: 20px;
    line-height: 20px;
    height: 140px;
    width: 140px;
    background: rgba(19, 128, 36, 0.91);
    border-radius: 50%;
    color: white;
    transition: 0.3s.
}

.num-content:hover {
    color: #222;
    transition: 0.3s;
}

.num .num-content {
    display: table-cell;
    vertical-align: middle;
}

.num {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 80px;
}

.num-content p {
    padding-top: 15px;
}

/* SECTION NUMBERS */

#testimonials h2, #testimonials p {
    text-align: center;
}

.section-testimonials {
    padding-top: 5rem;
}

.testimonial {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.customer-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
    transition: 0.5s;
}

.customer-image:hover {
    transition: 0.5s;
    transform: scale(0.95)
}

blockquote {
    font-family: "Lato";
    text-align: justify;
}

.fa.fa-quote-right {
    margin-left: 10px;
    float: right;
}

.testimonials-hr {
    border-top: 1px solid rgba(19, 128, 36, 1);
    width: 200px;
    background-color: rgba(19, 128, 36, 1);
}





/* BUTTONS */

.btn-lg, .btn-success-outline {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(19, 128, 26, 1);
    font-family: 'Lato', sans-serif;
    transition: 0.5s;

}

.btn-lg:hover,
.btn-lg:active,
.btn-lg:focus,
.btn-success-outline:hover,
.btn-success-outline:active,
.btn-success-outline:focus {
    background-color: rgba(19, 128, 36, 0.54);
    border: 1px solid rgba(19, 128, 26, 0);
    transition: 0.5s;
}

.fa-arrow-down {
    font-size: 2.5rem;
    color: white;
    transition: 0.3s;
}

.fa-arrow-down:hover {
    color: rgba(19, 128, 36, 0.54);
    transition: 0.3s;
}

.navbar-toggler {
    color: white;
}

.parallax-btn {
    width: 200px;
    margin: 30px auto 0 auto;
}

/* SPANS */

.bold-green {
    color: rgba(19, 128, 36, 0.9);
}

.green-underline {
    border-bottom: 2px solid rgba(19, 128, 36, 0.9);
}

/* FONT FACES */

@font-face {
    font-family: "Cubano-Regular";
    src: local("Cubano-Regular.otf"), url("Cubano-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Nunito-Regular";
    src: local("Nunito-Regular.ttf"), url("Nunito-Regular.ttf") format("truetype");
}